name: CI-workflow

on: 
  pull_request:
  push:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Lint check
        uses: azohra/shell-linter@v0.4.0      
        with:
          path: "shellcheck.sh,zsh-tab-title.plugin.zsh"